:root {
    --color-background: #F0F4F8;
    --color-foreground: #002e5b;
    --color-dark: #081e2c;
    --color-light: #394867;
    --color-md-light: #748CAB;
    --color-md-dark: #95A3B3;
    --color-primary: #F0544F;
    --color-info: #70A288;
    --color-success: #4F9D84;
    --color-danger: #EE6352;
    --color-callout: #5B5F97;
    --color-lightest: #FFFFFF;
}

html,
body {
    min-height: 100%;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    background-color: var(--color-background);
    color: var(--color-foreground);
    line-height: 1.75rem;
}

body.dark {
    background-color: var(--color-foreground);
    color: var(--color-lightest);
} 

div[class="container main"] {
    width: 80%;
    margin: 0 2rem;
}

h1 {
   font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: var(--color-md-light);
    margin: -1rem -1rem 0 -1rem;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    padding-left: 1rem;
}

.navbar ul li a {
    color: var(--color-foreground);
    font-size: 18px;
    padding: 25px 20px;
    display: inline-block;
    transition: all 0.5s ease 0s;
}

.navbar ul li a:hover {
    background-color: var(--color-foreground);
    color: #fde428;
    transition: all 0.5s ease 0s;
}

strong {
    color: pink;
}

em {
    font-stretch: expanded;
}

a {
    color: rgba(179, 251, 229, 255);
    text-decoration: none;
}

abbr {
    color: rgba(195, 77, 38, 255);
    text-decoration: none;
}

code {
    color: white;
}

button {
    background-color: var(--color-md-light);
    border-radius: 100px;
    box-shadow: rgba(242, 240, 243, 0.2) 0 -25px 18px -14px inset, rgba(80, 44, 187, 0.15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
}

button:hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

pre,
form {
    background-color: var(--color-dark);
    padding: 1rem;
    margin: 1rem;
    border-radius: 4px;
}

label {
    margin-bottom: 10px;
}

span {
    display: inline-block;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.switch-2 {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch-2 input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: green;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.control-checkbox {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
}

.control-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.control-checkbox span {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #ccc;
}

.control-checkbox input:checked+span {
    background-color: #4caf50;
    border: 1px solid #4caf50;
}

.control-checkbox span:after {
    content: '';
    position: absolute;
    display: none;
}

.control-checkbox input:checked+span:after {
    display: block;
}

.control-checkbox span:after {
    left: 10px;
    top: 6px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--color-md-light);
    margin: 0 -1rem -1rem -1rem; 
}

.page-footer ul {
    list-style: none;
}

.page-footer a {
    color: var(--color-foreground)
}

.page-footer a:hover {
    color: #fde428;
}